<div class="body pl-3" *ngIf="isTaskNamePresent">
    <div class="px-3 bg-light text-dark">
        <div></div>
        <div class="heading pt-3"><span class="pr-3 font-weight-bold"><input type="checkbox" /></span>{{taskName}}
            <i class="far fa-star important float-right"></i>
        </div>
        <div class="pt-2">
            <div *ngFor='let step of stepList' class="py-2">
                <input type="checkbox" />
                <span class="pl-3 ">{{step.stepName}}</span><i class="fas fa-times important float-right"></i>
            </div>
        </div>
        <div class="pt-2 pb-3">
            <i class="fa fa-plus pr-3 text-primary"></i>
            <input type="text" [(ngModel)]="stepName" (keyup.enter)="addStep()" placeholder="New Step" />
        </div>
    </div>
    <div class="p-2 my-3 bg-light">
        <i class="fa fa-sun step-icons pr-3"></i>
        <span>Add to My Day</span>
    </div>
    <div class="p-2 my-3 bg-light">
        <div class="pb-2 border-bottom">
            <i class="fa fa-bell step-icons pr-3"></i>
            <span class="">Remind me</span>
        </div>
        <div class="pt-2 pb-2 border-bottom">
            <i class="fa fa-calendar-alt step-icons pr-3"></i>
            <span class="">Add due date</span>
        </div>
        <div class="pt-2">
            <i class="fas fa-calendar step-icons  pr-3"></i>
            <span class="">Repeat</span>
        </div>
    </div>
    <div class="p-2 my-3 bg-light">
        <i class="fa fa-sun step-icons pr-3"></i>
        <span class="">Pick a Category</span>
    </div>
    <div class="p-2 my-3 bg-light">
        <i class="fa fa-paperclip step-icons pr-3"></i>
        <span class="">Add File</span>
    </div>
    <div>
        <textarea rows=3 style="width: 290px;"> </textarea>
    </div>
</div>